<h1  mat-dialog-title>Agregar</h1>
    <mat-dialog-content>
      <div class="card">
        <div class="card-body">
            <form [formGroup]="angForm" novalidate>
                <div class="form-group">
                    <label class="col-md-4">Serie</label>
                    <input type="text" class="form-control" formControlName="serie" #serie />
                  </div>
                  <div *ngIf="angForm.controls['serie'].invalid && (angForm.controls['serie'].dirty || angForm.controls['serie'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['serie'].errors.required">
                      El numero serie es necesario.
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4">Marca </label>
                    <input type="text" class="form-control" formControlName="marca" #marca />
                  </div>
                  <div *ngIf="angForm.controls['marca'].invalid && (angForm.controls['marca'].dirty || angForm.controls['marca'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['marca'].errors.required">
                      La marca es requerida.
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4">Modelo </label>
                    <input type="text" class="form-control" formControlName="modelo" #modelo />
                  </div>
                  <div *ngIf="angForm.controls['modelo'].invalid && (angForm.controls['modelo'].dirty || angForm.controls['modelo'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['modelo'].errors.required">
                      El modelo es requerido
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4">Procesador </label>
                    <input type="text" class="form-control" formControlName="procesador" #procesador />
                  </div>
                  <div *ngIf="angForm.controls['procesador'].invalid && (angForm.controls['procesador'].dirty || angForm.controls['procesador'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['procesador'].errors.required">
                      El procesador es requerido
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4">Fecha de Registro </label>
                    <input type="text" class="form-control" formControlName="fechaRegistro" #fechaRegistro />
                  </div>
                  <div *ngIf="angForm.controls['fechaRegistro'].invalid && (angForm.controls['fechaRegistro'].dirty || angForm.controls['fechaRegistro'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['fechaRegistro'].errors.required">
                      La fecha de registro es requerida
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4">Estatus </label>
                    <input type="text" class="form-control" formControlName="estatus" #estatus />
                  </div>
                  <div *ngIf="angForm.controls['estatus'].invalid && (angForm.controls['estatus'].dirty || angForm.controls['estatus'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['estatus'].errors.required">
                      El estatus es requerido
                    </div>
                  </div>
                  <div class="form-group">
                    <button (click)="updateInventario(serie.value, marca.value, modelo.value,procesador.value,fechaRegistro.value,estatus.value)"
                        [disabled]="angForm.pristine || angForm.invalid" 
                        class="btn btn-primary">
                        Actualizar Instalación
                     </button>
                </div>
            </form>
        </div>
      </div>
    </mat-dialog-content>
<mat-dialog-actions>
    <button  mat-raised-button (click)="closeMe()">Close</button>
</mat-dialog-actions>