  <nav>
      <div class="nav-wrapper">
        <a class="right">
          <label id="uas">Universidad Autónoma de Sinaloa </label>
          <img src="assets/img/Logotipo_UAS.png" height="50" width="42">
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a routerLink="/inventario" routerLinkActive="active">Inventario</a></li>
            <li><a routerLink="/instalaciones" routerLinkActive="active">Instalaciones</a></li>
            <li><a routerLink="/edificios" routerLinkActive="active">Edificios</a></li>
            <li><a routerLink="/usuario" routerLinkActive="active">Usuarios</a></li>
        </ul>
      </div>
    </nav>
    
    