  <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- Clave -->
      <ng-container matColumnDef="clave">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clave </th>
        <td mat-cell *matCellDef="let row"> <h6>{{ row.clave }}</h6> </td>
      </ng-container>
  
      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let row"> <h6>{{ row.nombre }}</h6> </td>
      </ng-container>
  
      <!-- Edificio -->
      <ng-container matColumnDef="edificio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Edificio </th>
        <td mat-cell *matCellDef="let row"> <h6>{{ row.edificio }}</h6> </td>
      </ng-container>

      <!-- Estatus -->
      <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
          <td mat-cell *matCellDef="let row"> 
              <h6 *ngIf="row.estatus == 0">Inactivo</h6>
              <h6 *ngIf="row.estatus == 1">Activo</h6>
            </td>
        </ng-container>
  
      <!-- Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row">
            <a matTooltip="Editar" (click) = "editInstalacion(row._id)" class="btn btn-edit"><i class="material-icons large">edit</i></a>
            <a matTooltip="Eliminar" (click) = "deleteInstalacion(row._id)" class="btn btn-delete"><i class="material-icons large">delete_forever</i></a>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
